@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans&display=swap');


/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Abel', sans-serif; */
/* #581ae7 */

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

p{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Abel', sans-serif;
}

#logo{
    height: 20em;
    position: relative;
    top: 0;
    left: -5em;
}

.navbar_links {
    justify-content: space-around;
    padding-top: 1em;
    border-top: solid black  2px;
}

.navbar_links > li:hover {
    transform: scale(1.5);
    
}
a:hover{
    color: #4287f5;
}
.navbar_container{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.navbar_container > span{
    align-self: center;
    font-size: 30px;
}

#hero{
    background-image: url('../img/imagen_principal.png');
    min-height: 60vh;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text_container{
    padding: 5em 0;
    font-family: 'Abel', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    align-self: center;
    text-align: center;
}


#quienes_somos > .container {
    background: #5c93eb;
    margin: 2em;
    color: white;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
}

#quienes_somos{
    background-image: url('../img/imagen_principal.png');
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: right;
    padding: 5em;
}

#quienes_somos > .container > .text{
    line-height: 3rem;
    font-size: 2rem;
}

.title{
    font-family: 'Abel', sans-serif;
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
}

.text{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
}

#que_hacemos{
    margin: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

#que_hacemos > .container{
    border: solid black 0.05rem;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 1rem;
    background: white;
    filter: drop-shadow(1rem 1.2rem 0.1rem #eceaea);

}

#que_hacemos > .text {
    font-size: 22px;
    margin: 1em;
}

.big_text{
    color: #2d65be;
    font-size: 50px;
}

.title_color{
    color: #4287f5;
    font-size: 2rem;
    min-width: 60%;
    text-align: center;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.objetivo{
    font-size: 30px;
    margin: 3em;
}

button{
    padding: 1em;
    background: #4287f5;
    border: solid white 1px;
    border-radius: 5px;
    width: 15em;
    align-self: center;
    font-size: 18px;
}

button:hover{
    background: #7faef8;
}

#nuestro_equipo{
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    padding: 7em 0 ;
}

.equipo_container{
    display: flex;
    justify-content: space-around;
}

.people{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.people > img{
    width: 60%;
}

.name{
    color: #4287f5;
    font-size: 30px;
    padding: 1em 0;
}

#quiero_donar{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30em;
    justify-content: center;
}

.donar{
    padding: 1em;
    width: auto;
    margin: 2em 1em;
}

#contacto{
    min-height: 300px;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.contact_container > img{
    width:2em;
    margin: 0 1em;
}
.contact_container{
    width: 20em;
    display: flex;
    align-items: center;
}